body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-direction: row;
}

input, text,br {
    box-sizing: border-box;
    display: block;
    width: 250px;
    height: 30px;
    margin-left: 15px;
    font-family: "Calibri ";
}
.error {
    align-content: flex-end;
}

